@{
    ViewData["Title"] = "Animals List";
}
@model List<HalszkaCiesielskaZad6.Models.AnimalViewModel>
@using (Html.BeginForm("AddAnimal", "Home", FormMethod.Get))
{
    <head>
        <!--Importing google font -->
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Fraunces:wght@300&display=swap" rel="stylesheet">
    </head>
    <!--Page body-->
<body>
    <!--Page header-->
    <h1>Animals list</h1>
    <!--Table with animals-->
    <table class="table table-bordered table-striped">
        <!--Table header -->
        <tr>
            <th class="text-center">Name </th>
            <th class="text-center">Animal class </th>
            <th class="text-center">Cage </th>
        </tr>
        <!--Filling table with data-->
        @foreach (var animal in Model)
        {
            <tr>
                <td>
                    @animal.Name
                </td>
                <td>
                    @animal.AnimalClass
                </td>
                <td>
                    @animal.Cage
                </td>
            </tr>
        }
    </table>
    <!--Button go to add animal-->
    <div class="form-group d-flex justify-content-center" id="button">
        <div>
            <input type="submit" value="Go to add animal" class="btn btn-outline-dark" />
        </div>
    </div>
</body>
    <style>
        /* Setting body font to fraunces */
        body {
            font-family: 'Fraunces', serif;
        }
    </style>
}